/* Nav-Responsive */
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        width: 100%;
        padding: 20px 30px;
        justify-content: space-between;
    }

    .nav-list {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .logo img {
        width: 60px;
        padding-right: 12px;
    }

    .text-logo {
        font-size: 20px;
        font-weight: 700;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        display: inline-block;
        justify-content: space-between;
        color: black;
    }

    /* Nav-Responsive */
    .banner {
        min-width: 335px;
        height: 550px;
        margin: 10px 15px;
        padding: 20px;

    }

    .banner h1 {
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 8px;

    }

    .banner p {
        margin: 8px auto;
        max-width: 304px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .search-container {
        flex-direction: column;
        gap: 16px;
        border-radius: 8px;
    }

    .search-container input {
        min-width: 255px;
        height: 52px;

    }

    .search-container select {
        min-width: 255px;
        height: 52px;
    }

    .search-container button {
        min-width: 255px;
        height: 52px;
    }

    /* tours-section */
    .tours-section {
        max-width: 335px;
        margin: 0 auto;
    }

    .tours-container {
        margin-top: 24px;
        flex-direction: column;
    }

    .tours-container img {
        width: 335px;
        height: 342px;
        border-radius: 16px;
        margin: 0 auto;
    }

    .tours-text-container h2 {
        font-size: 20px;
    }

    .tours-text-container p {
        width: 335px;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: rgba(19, 19, 24, 0.70);
    }

    .tours-text-container li {
        margin: 12px 14px 24px;
        color: rgba(19, 19, 24, 0.70);
        max-width: 335px;
        font-size: 13px;
        text-align: start;
    }


    .tours-text-container button {
        margin: 24px 0;
    }

    /* Grid */

    .destination-container {
        width: 100%;
    }

    .destination-text h3 {
        font-size: 20px;
        font-weight: 800;
    }

    .destination-text p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 309px;
    }

    .gallery img {
        width: 335px;
        height: 176px;
        padding: 0 24px;
        margin-bottom: 24px;
    }

    .gallery p {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    .Gallery_item-1 {
        grid-column: 1/span 24;
        grid-row: 1;
        position: relative;

    }

    .Gallery_item-2 {
        grid-column: 1/span 24;
        grid-row: 2;
        position: relative;
        display: inline-block;
    }

    .Gallery_item-3 {
        grid-column: 1/span 24;
        grid-row: 3;
        position: relative;
        display: inline-block;
    }

    .Gallery_item-4 {
        grid-column: 1/span 24;
        grid-row: 4;
        position: relative;
        display: inline-block;
    }

    .Gallery_item-5 {
        grid-column: 1/span 24;
        grid-row: 5;
        position: relative;
        display: inline-block;
    }

    .Gallery_item-6 {
        grid-column: 1/span 24;
        grid-row: 6;
        position: relative;
        display: inline-block;
    }

    .Gallery_item-7 {
        grid-column: 1/span 24;
        grid-row: 7;
        position: relative;
        display: inline-block;
    }

    /* .price-tag {
        position: unset;
    } */

    .service-parts-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: auto;
        width: 375px;



    }

    .p1 {
        grid-template-columns: 1 /span 3;
        grid-row: 1;
        width: 100%;
    }

    .p2 {
        grid-template-columns: 1 /span 3;
        grid-row: 2;
        width: 100%;
    }

    .p3 {
        grid-template-columns: 1 /span 3;
        grid-row: 3;

    }

    .container-service-section {
        width: 375px;
    }

    .service-parts-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 0 auto;
        width: 335px;
        height: 289px;

    }

    .service-title-text h3 {
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .service-title-text p {
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 16px;
        width: 309px;
    }

    .service-part {
        width: 335px;
        height: 289px;
        border-radius: 16px;
    }

    .service-part img {
        width: 48px;
        height: 48px;
    }

    .service-titles {
        color: #131318;
        margin-top: 16px;
        font-size: 20px;
        font-weight: 800;
    }

    .service-descriptions {
        width: 271px;
        color: #5A5A5D;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }


    .vacation-container{
        position: relative;
        bottom: -600px;
        width: 335px;
    }


    .vacation-container h2{
        text-align: center;
        font-size: 18px;
        color: rgb(255, 140, 0);
        padding: 5px;
        width: 200px;
        margin: auto;
    }
    .vacation-container h3{
        text-align: center;
    }
    .vacation-container p{
        text-align: center;
    }
    

    /* news-latter */


    .news-latter-container {
        flex-direction: column;
        top: 540px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    .form-area {
        width: 335px;
        height: 353px;
        border-radius: 16px;
        border: 1px solid #FF5400;
        margin: 0 auto;
    }

    .form-area h3 {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin: 5px 10px;

    }

    .form-area p {
        width: 230px;
        color: #5A5A5D;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 16px auto;

    }

    .form-area input {
        width: 230px;
        height: 30px;
        margin: 16px auto;

    }

    .form-area button {
        width: 230px;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
        padding: 5px;
        align-items: center;
        justify-content: center;
        display: block;
        margin: 16px auto;

    }

    .news-latter-container img {
        width: 335px;
        height: 300px;
        margin-top: 16px;
        margin-left: 8px;
    }

    .discount {
        width: 180px;
        height: 80px;
        transform: rotate(-19.628deg);
        border-radius: 10.569px;
        background: #FF5400;
        position: absolute;
        left: 180px;
        bottom: 50px;
    }

    .discount h2{
        font-size: 14px;
    }


    .footer-area {
        position: relative;
        top: 550px;
        margin: 0;
        min-width: 375px;
    }

    

    .footer-area {
        height: 309px;
    }

    .footer-container {
        width: 375px;
        height: 309px;
        margin: 0 auto;
    }

    .footer-area .logo {
        width: 60px;
        margin: 0 auto;
        align-items: center;
        overflow: hidden;
    }

    .footer-area p {
        width: 287px;
        color: #5A5A5D;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        
    }

    .footer-area {
        margin-top: 20px;
        width: 100%;
        height: 502px;
        background: rgba(19, 19, 24, 0.05);
        padding-top: 110px;
    }

    .footer-sub-tittle {
        padding: 15px 0;
        margin: 0 auto;
        width: 769px;
        color: #5A5A5D;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;

    }

    .footer-icon i {
        font-size: 18px;
        padding: 10px;
        border: none;

    }

    .footer-icon {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(19, 19, 24, 0.10);
        ;
    }

    .copy-right {
        margin-top: 20px;
    }



}


