@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #424247;
    --font-size: 16px;
    --background: #FFF;
    --title-f-size: 40px;
}

/* Na-Styles-Start */

header {
    padding: 52px 0;
    max-width: 1170px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo img {
    cursor: pointer;
    width: 65px;
    padding-right: 16px;
}

.text-logo {
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

.vac-text {
    color: var(--primary-color);
}

.nav-list a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding-left: 44px;
    color: var(--secondary-color);
}

.nav-list a:hover {
    color: var(--primary-color);
}


.menu-icon {
    display: none;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
}

/* Nav-Styles-End */



.banner {
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../Images/banner-img.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    border-radius: 16px;
}

.banner h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 800;
}

.banner p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}

.search-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    margin: 48px auto;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

.search-container input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--background);
    color: var(--secondary-color);
    border: none;
    outline: none;
    padding: 16px;
    font-weight: 400;
}

.search-container select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--background);
    color: rgba(19, 19, 24, 0.50);
    border: none;
    outline: none;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
}

.search-container button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    padding: 16px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
}

.search-container i {
    padding-right: 10px;
}

.search-container button:hover {
    background: white;
    color: var(--primary-color);
}

/* tours-section */

.tours-container {
    display: flex;
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 100px;
}

.tours-text-container h2 {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 800;
}

.tours-container img {
    width: 540px;
    height: 550px;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}

.tours-text-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
    color: rgba(19, 19, 24, 0.70);
}

.tours-text-container li {
    margin: 16px 0;
    color: rgba(19, 19, 24, 0.70);
    width: 525px;
    font-size: 16px;
}

.tours-text-container button {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
}

/* tours-section-end */


/* Destination-Section */
.destination-container {
    width: 1170px;
    margin: 0 auto;
}

.destination-container h1 {
    font-size: 40px;
    text-align: center;
    margin: 100px 0 24px;
}

.destination-title-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: 300px;
}

.gallery-item1 {
    grid-column: 1/span 6;
    grid-row: 1;
    position: relative;
}

.gallery-item2 {
    grid-column: 7/span 12;
    grid-row: 1;
    position: relative;
    display: inline-block;
}

.gallery-item3 {
    grid-column: 1/span 4;
    grid-row: 2;
    position: relative;
    display: inline-block;
}

.gallery-item4 {
    grid-column: 5/span 5;
    grid-row: 2;
    position: relative;
    display: inline-block;
}

.gallery-item5 {
    grid-column: 10/span 10;
    grid-row: 2;
    position: relative;
    display: inline-block;
}

.gallery-item6 {
    grid-column: 1/span 5;
    grid-row: 3;
    position: relative;
    display: inline-block;
}

.gallery-item7 {
    grid-column: 6/span 14;
    grid-row: 3;
    position: relative;
    display: inline-block;
}

.image-title {
    color: var(--background);
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}